body { 
    padding-top: 20px;
	max-width: 1300px; 
	margin: 0 auto !important; 
	float: none !important; 
}

:root {
    --gridSize: 10;
    --spellChargeFill: 0%;
    --bossLifeFill: 0%;
    --timerFill: 100%;
    --tileColor: gray;
    --fontColor: white;
    --wallColor: rgb(48, 24, 0);
}


body, html, #content {
    height: 100%;
}

.titleScreenContent, .newGameScreenContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.titleLogoDiv {
    
    background-color: rgb(202, 202, 202);
    width: 100%;
}

.titleLogo {
    display: block;
    margin: auto;
    width: 800px;
}

.startButtonDiv {

    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
}

.newGameButtonDiv {
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    
}

.spacerDiv {
    flex-grow: 1;
    background-color: rgb(202, 202, 202);
}

.footerDiv {
    padding: 30px;
    background-color: rgb(202, 202, 202);
}

.footerTextDiv {
    text-align: center;
}

.footerText {
    font-family: "Press Start 2P";
}

.gameButton {
    display: block;
    font-family: "Press Start 2P";
    font-size: 20px;
    border: none;
    background-color: transparent;
    margin: 10px;
}

#gameScreenContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.gameScreenSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.gameScreenSectionThree {
    width: 17%;
    margin-left: 15px;
}

#levelDisplay, #levelNameDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

#scoreDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}


#lifeDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

#spellDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

.spellBarBorder {
    width: 100px;
    height: 20px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.spellBarEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.spellBarFill {
    background-color: rgb(18, 216, 0);
    display: block;
    width: var(--spellChargeFill);
    height: 100%;
    border-radius: 0px;
}

.blink {
    animation: blink 0.25s infinite;
}

#bossDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

.bossBarBorder {
    width: 100px;
    height: 20px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.bossBarEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.bossBarFill {
    background-color: rgb(255, 0, 0);
    display: block;
    width: var(--bossLifeFill);
    height: 100%;
    border-radius: 0px;
}

.timerDisplay {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Press Start 2P";
}

.timerBarBorder {
    width: 690px;
    height: 10px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.timerBarEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.timerBarFill {
    background-color: rgb(255, 231, 151);
    display: block;
    width: var(--timerFill);
    height: 100%;
    border-radius: 0px;
}

.practiceStaff {
    width: 710px;
}

.hero {
    height: 30px;
}

.heart {
    height: 20px;
    padding-left: 5px;
}

.key {
    height: 30px;
    padding-left: 20px;
}

.mapHeart {
    height: 30px;
}

.mapKey {
    height: 40px;
    padding-top: 10px;
}

.stopwatch {
    height: 40px;
}

.bossNote {
    height: 40px;
    padding-top: 10px;
}

.bossNoteCollect {
    height: 30px;
    padding: 10px 0px 5px 5px;
}

.svgNote {
    height: 120px;
}

.gameMapContainer {
    height: 870px;
    width: 870px;
    background: url(./img/graphics/dungeon-border.svg);
    background-size: 870px 870px;
    background-repeat: no-repeat;
    background-position: center;

    /* Display/align-items settins centers gameMap vertically */
    display:flex;
    align-items: center;
    
}

.gameMap {

    margin-bottom: 12px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(var(--gridSize), auto);
    height: 700px;
    width: 700px;
}

.gameTile {
    font-size: 24px;
    color: var(--fontColor);
    line-height: 65px;
    font-family: "Press Start 2P";
    text-align: center;
    /* TOTO: set these colors to variables set by level object properties */
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid rgb(0, 0, 0) 3px;
    border-bottom: solid rgb(0, 0, 0) 3px;
    background-color: var(--tileColor);
    height: 65px;
    width: 65px;
}

.wall-right {    
    border-right: solid var(--wallColor) 3px;
    margin-right: 0px;
}

.wall-left {
    border-left: solid var(--wallColor) 3px;
    margin-left: 0px;
}

.wall-top {
    border-top: solid var(--wallColor) 3px;
    margin-top: 0px;
}

.wall-bottom {
    border-bottom: solid var(--wallColor) 3px;
    margin-bottom: 0px;
}

.locked-tile {
    -webkit-box-shadow:inset 0px 0px 0px 5px orange;
    -moz-box-shadow:inset 0px 0px 0px 5px orange;
    box-shadow:inset 0px 0px 0px 5px orange;

    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

/* .activeTile {
    background-color: green;
}

.enemyTile {
    background-color: red;
} */

#endGameOverlay {
    position: fixed;
    display: none;
    padding: 200px 0 0 0;
    width: 100%;
    height: 40%;
    top:25%;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 6em;
    font-weight: bold;
    color: white;
}

#replayDiv {
    display: block;
    align-items: center;
}

#replayButton {
    font-family: "Press Start 2P";
    font-size: 28px;
    color: white;
    border: none;
    background-color: transparent;
}

#replayButton:hover {
    font-size: 36px;
}

#nextLevelButton {
    font-size: 28px;
    color: white;
    border: none;
    background-color: transparent;
}

#nextLevelButton:hover {
    font-size: 36px;
}

.stairsTile {
    background: url(img/map-icons/stairs.svg);
    background-color: var(--tileColor);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
}


.hero {
    background: url(img/map-icons/mage.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.enemy {
    background: url(img/map-icons/badguy.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.spellCast {
    background-color: red;
    animation: blink 0.1s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: "Press Start 2P";
    src: url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}