body { 
    padding-top: 20px;
	max-width: 1300px; 
	margin: 0 auto !important; 
	float: none !important; 
}

:root {
    --gridSize: 10;
    --multiplierFill: 0%;
    --levelProgressFill: 0%;
    --spellChargeFill: 0%;
    --bossLifeFill: 0%;
    --timerFill: 100%;
    --tileColor: rgb(128, 128, 128);
    --fontColor: white;
    --wallColor: rgb(48, 24, 0);
    --enemySVG: url(./img/map-icons/snake.svg);
}

body, html, #content {

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgb(202, 202, 202);
}

.howToPlayScreenContent, .highScoresScreenContent {
    padding: 50px 200px 100px 200px;
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Press Start 2P";
    font-size: 20px;
    line-height: 1.5;
    color: black;
}

.howToPlayItemDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleScreenContent, .newGameScreenContent {
    height: 100%;
    display: flex;
    flex-direction: column;
}


.titleLogoDiv {
    
    background-color: rgb(202, 202, 202);
    width: 100%;
}

.titleLogo {
    display: block;
    margin: auto;
    width: 800px;
}

.startButtonDiv {

    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
}

.newGameButtonDiv {
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    text-align: center;    
}

.difficultyText {
    font-family: "Press Start 2P";
    font-size: 24px;
    padding: 20px 0px 20px 0px;
}

.nameInputText {
    font-family: "Press Start 2P";
    font-size: 20px;
    padding: 20px 0px 10px 0px;
}

#nameInput {
    border: solid black 5px;
    background-color: rgb(202, 202, 202);
    width: 450px;
    height: 50px;
    padding: 5px 15px 5px 15px;
    font-family: "Press Start 2P";
    font-size: 30px;
    align-self: center;
}

.spacerDiv {
    flex-grow: 1;
    background-color: rgb(202, 202, 202);
}

.footerDiv {
    padding: 30px;
    background-color: rgb(202, 202, 202);
}

.footerTextDiv {
    text-align: center;
}

.footerText {
    font-family: "Press Start 2P";
}


.gameButton {
    display: block;
    font-family: "Press Start 2P";
    font-size: 20px;
    border: none;
    background-color: transparent;
    margin: 10px;
}

.gameButton:hover {
    color: white;
}

#gameScreenContent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.gameScreenSection {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.gameScreenSectionLeft {
    flex-grow: 1;
    margin-right: 15px;
}
.gameScreenSectionCenter {
    flex-grow: 2;
}
.gameScreenSectionRight {
    /* width: 17%; */
    margin-left: 15px;
    flex-grow: 1;
}

#levelDisplay, #levelNameDisplay, .noteStreakDiv {
    font-size: 20px;
    font-family: "Press Start 2P";
}

#scoreDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

.multiplierDiv {
    display: inline-flex;
    font-size: 20px;
    font-family: "Press Start 2P";
}

.multiplierText {
    padding-left: 10px;
    padding-top: 5px;
}

.multiplierBorder {
    width: 120px;
    height: 15px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.multiplierEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.multiplierFill {
    background-color: rgb(255, 166, 0);
    display: block;
    width: var(--multiplierFill);
    height: 100%;
    border-radius: 0px;
}

.levelProgressDiv {
    padding-top: 20px;
    display: block;
    font-size: 20px;
    font-family: "Press Start 2P";
}

.levelProgressText {
    line-height: 50px;
}

.levelProgressBorder {
    width: 200px;
    height: 15px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.levelProgressEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.levelProgressFill {
    background-color: rgb(0, 39, 211);
    display: block;
    width: var(--levelProgressFill);
    height: 100%;
    border-radius: 0px;
}


#lifeDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

#spellDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

.spellBarBorder {
    width: 200px;
    height: 20px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.spellBarEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.spellBarFill {
    background-color: rgb(18, 216, 0);
    display: block;
    width: var(--spellChargeFill);
    height: 100%;
    border-radius: 0px;
}

.blink {
    animation: blink 0.25s infinite;
}

#bossDisplay {
    font-size: 20px;
    font-family: "Press Start 2P";
}

.bossBarBorder {
    width: 200px;
    height: 20px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.bossBarEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.bossBarFill {
    background-color: rgb(255, 0, 0);
    display: block;
    width: var(--bossLifeFill);
    height: 100%;
    border-radius: 0px;
}

.staffDiv {
    width: 200px;
    font-size: 20px;
    font-family: "Press Start 2P";
}

.timerDisplay {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: "Press Start 2P";
}

.timerBarBorder {
    width: 690px;
    height: 10px;
    background: rgb(185, 185, 185);
    border-radius: 0px;
    padding: 5px;
}

.timerBarEmpty {
    background-color: black;
    display: block;
    height: 100%;
    border-radius: 0px;
}

.timerBarFill {
    background-color: rgb(255, 231, 151);
    display: block;
    width: var(--timerFill);
    height: 100%;
    border-radius: 0px;
}

.practiceStaff {
    width: 710px;
}

.hero {
    height: 30px;
}

.heart {
    height: 20px;
    padding-left: 5px;
}

.key {
    height: 30px;
    padding-left: 20px;
}

.mapHeart {
    height: 30px;
}

.mapKey {
    height: 40px;
    padding-top: 10px;
}

.stopwatch {
    height: 40px;
    padding-top: 10px;
}

.bossNote {
    height: 40px;
    padding-top: 10px;
}

.bossNoteCollect {
    height: 30px;
    padding: 10px 0px 5px 5px;
}

.svgNote {
    height: 120px;
}

.gameMapContainer {
    height: 870px;
    width: 870px;

    /* Display/align-items settins centers gameMap vertically */
    display:flex;
    align-items: center;
}

.gameMapContainer[data-dungeon-border='border-1'] {
    background: url(./img/graphics/border-1.svg);
    background-size: 870px 870px;
    background-repeat: no-repeat;
    background-position: center;
}

.gameMapContainer[data-dungeon-border='border-2'] {
    background: url(./img/graphics/border-2.svg);
    background-size: 870px 870px;
    background-repeat: no-repeat;
    background-position: center;
}

.gameMapContainer[data-dungeon-border='border-3'] {
    background: url(./img/graphics/border-3.svg);
    background-size: 870px 870px;
    background-repeat: no-repeat;
    background-position: center;
}

.gameMapContainer[data-dungeon-border='border-4'] {
    background: url(./img/graphics/border-4.svg);
    background-size: 870px 870px;
    background-repeat: no-repeat;
    background-position: center;
}

.gameMapContainer[data-dungeon-border='border-5'] {
    background: url(./img/graphics/border-5.svg);
    background-size: 870px 870px;
    background-repeat: no-repeat;
    background-position: center;
}

.gameMap {

    margin-bottom: 12px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(var(--gridSize), auto);
    height: 700px;
    width: 700px;
}

.gameTile {
    font-size: 24px;
    color: var(--fontColor);
    line-height: 65px;
    font-family: "Press Start 2P";
    text-align: center;
    /* TOTO: set these colors to variables set by level object properties */
    border-top: solid white 3px;
    border-left: solid white 3px;
    border-right: solid rgb(0, 0, 0) 3px;
    border-bottom: solid rgb(0, 0, 0) 3px;
    background-color: var(--tileColor);
    height: 65px;
    width: 65px;
}

.wall-right {    
    border-right: solid var(--wallColor) 3px;
    margin-right: 0px;
}

.wall-left {
    border-left: solid var(--wallColor) 3px;
    margin-left: 0px;
}

.wall-top {
    border-top: solid var(--wallColor) 3px;
    margin-top: 0px;
}

.wall-bottom {
    border-bottom: solid var(--wallColor) 3px;
    margin-bottom: 0px;
}

.locked-tile {
    -webkit-box-shadow:inset 0px 0px 0px 5px orange;
    -moz-box-shadow:inset 0px 0px 0px 5px orange;
    box-shadow:inset 0px 0px 0px 5px orange;

    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
}

/* .activeTile {
    background-color: green;
}

.enemyTile {
    background-color: red;
} */

.endGameOverlay {
    position: fixed;
    display: none;
 
    padding-top: 20%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,1);
    z-index: 2;
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 6em;
    font-weight: bold;
    color: white;
}

.endingScreen {
    position: fixed;
    display: none;
    padding-top: 0%;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: gray;
    z-index: 2;
    text-align: center;
}

.endingGraphic {
    display: block;
    margin: auto;
    width: 900px;
}

.endingButtonDiv {
    display: flex;
    justify-content: center;
}


.gameOverScore {
    font-size: 36px;
    padding: 40px;
}

.continueDiv {
    display: block;
    align-items: center;
}

.continueNote {
    font-size: 20px;
}

.gameOverButton {
    font-family: "Press Start 2P";
    font-size: 28px;
    color: white;
    border: none;
    background-color: transparent;
}

.gameOverButton:hover {
    font-size: 36px;
    color: yellow;
}

.backToTitleScreenDiv {
    display: block;
    align-items: center;
}



.stairsTile {
    background: url(img/map-icons/stairs.svg);
    background-color: var(--tileColor);
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
}

.stairsUpTile {
    background: url(img/map-icons/stairs-up.svg);
    background-color: var(--tileColor);
    background-size: 62px 62px;
    background-repeat: no-repeat;
    background-position: center;
}

.teleportTile {
    background-color: yellow;
    animation: blink 0.2s infinite;
}


.hero {
    background: url(img/map-icons/hero.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.enemy {
    background: var(--enemySVG);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.note-blue {
    background: url(img/map-icons/note-blue.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: blink 0.2s infinite;
}

.note-green {
    background: url(img/map-icons/note-green.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: blink 0.2s infinite;

}
.note-orange {
    background: url(img/map-icons/note-orange.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: blink 0.2s infinite;

}
.note-purple {
    background: url(img/map-icons/note-purple.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: blink 0.2s infinite;
}
.note-red {
    background: url(img/map-icons/note-red.svg);
    background-color: var(--tileColor);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation: blink 0.2s infinite;
}

.finalBoss {
    background: url(img/map-icons/beholder-eye.svg);
    background-color: var(--tileColor);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.finalBossArmRight {
    background: url(img/map-icons/beholder-arm-right.svg);
    background-color: var(--tileColor);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.finalBossArmBottom {
    background: url(img/map-icons/beholder-arm-bottom.svg);
    background-color: var(--tileColor);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.finalBossArmLeft {
    background: url(img/map-icons/beholder-arm-left.svg);
    background-color: var(--tileColor);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}

.finalBossArmTop {
    background: url(img/map-icons/beholder-arm-top.svg);
    background-color: var(--tileColor);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
}


.spellCast {
    background-color: red;
    animation: blink 0.1s infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@font-face {
    font-family: "Press Start 2P";
    src: url("./fonts/PressStart2P-Regular.ttf") format("truetype");
}